[Unit]
Description=Coder Container
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=coder
Image=ghcr.io/coder/coder:latest
PublishPort=3000
Volume=coder-home:/home

Environment=CODER_HTTP_ADDRESS=0.0.0.0:3000
Environment=CODER_ACCESS_URL=https://coder.dreamlab.ucsb.edu
Environment=CODER_WILDCARD_ACCESS_URL=*.coder.dreamlab.ucsb.edu
Environment=CODER_OIDC_ISSUER_URL="https://accounts.google.com"
Environment=CODER_OIDC_EMAIL_DOMAIN="ucsb.edu"
Environment=CODER_OIDC_CLIENT_ID="{FIXME}"
Environment=CODER_OIDC_CLIENT_SECRET="{FIXME}"
Environment=CODER_OIDC_ALLOW_SIGNUPS=false

Label=traefik.enable="true"
Label=traefik.http.routers.coder-secure.entrypoints="websecure"
Label=traefik.http.routers.coder-secure.rule=Host(`coder.dreamlab.ucsb.edu`)'
Label=traefik.http.routers.coder-secure.tls="true"
Label=traefik.http.routers.coder-secure.tls.certresolver="route53"

[Install]
WantedBy=multi-user.target
