#!/bin/bash

# packages we need
apt-get update
apt-get install -y jq

# Install Docker
if ! command -v docker &> /dev/null; then
    echo "Docker not found, installing..."
    curl -fsSL https://get.docker.com -o get-docker.sh && sh get-docker.sh 2>&1 >/dev/null
    usermod -aG docker ubuntu
    newgrp docker
else
    echo "Docker is already installed."
fi